/* h3
{
    background-color:red;
    text-align: center;
    font-family: fantasy;
} */
/* body
{
background-color:orange;
text-align: initial;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-decoration-line: overline

} */
body{
    text-align: left
}