<h2>Adding New Employee</h2>
<form #add=ngForm   (ngSubmit)="addEmployee(add)">
<label>ID:</label>
<input type="text" name="id" [(ngModel)]="add.id"><br>
<span *ngIf="IdValidation">This Field is Required</span><br>
<label>Name:</label>
<input type="text" name="name" [(ngModel)]="add.name"><br>
<span *ngIf="nameValidation">This Field is Required</span><br>
<label>Salary:</label>
<input type="text" name="salary"  [(ngModel)]="add.salary"><br>
<span *ngIf="salaryValidation">This Field is Required</span><br>
<label>City:</label>
<input type="text" name="city"  [(ngModel)]="add.city"><br>
<button type="submit">Add Employee</button><br>
</form>



